
.list-header {
  border: 1px solid black;
  background:#373e57;
}

.list-header h1 {
  text-transform: uppercase;
  color: aqua;
}

.add {
  padding: 20px 0;
}

.add input {
  border: none;
  border-radius: 100px;
  padding: 10px;
  outline: none;
}

.add input::placeholder {
text-transform: capitalize;
  letter-spacing: .5px;
}
.btn {
  margin-left: 15px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: rgb(29, 161, 242);;
  outline: none;
  transition: background-color .1s;
  color: white;
}

.add button:hover {
  background-color: aqua;
}
